@{
    ViewBag.Title = "Home Page";
}

<div id="map" style="height: 480px;"></div>
@Scripts.Render("~/bundles/jquery")
<script src="http://code.jquerygeo.com/jquery.geo-1.0.0-rc1.1.min.js"></script>
<script>
  $(function() {
    $( "#map" ).geomap( );
  });
</script>