@{
    ViewBag.Title = "Home Page";
}
    
@*<p>@ViewBag.properties</p>*@
<div id="map" style="height: 480px;"></div>
@Scripts.Render("~/bundles/jquery")
<script src="http://code.jquerygeo.com/jquery.geo-1.0.0-rc1.1.min.js"></script>
@*<script>
    $(function () {
        // create a map centered on Naga
        // style the shape points
        var map = $("#map").geomap({
            center: [15.587336666667, 45.484296666667],
            zoom: 10,
            shapeStyle: {
                color: "#d00",
                width: 12,
                height: 12
            },
            move: function (e, geo) {
                // search for a monument under the cursor
                var point = map.geomap("find", geo, 12);
                if (point.length > 0) {
                    // if found, show its label
                    $("." + point[0].properties.id).closest(".geo-label").show();
                } else {
                    // otherwise, hide all labels
                    $(".geo-label").hide();
                }
            }
        });

        // two monument GeoJSON Features
        var points = [{
            type: "Feature",
            geometry: {
                type: "Point",
                coordinates: [15.587336666667, 45.484296666667]
            },
            properties: {
                id: 1,
                content: "<p>Test za sliku i tekst</p><img src='https://slike.geek.hr/wp-content/uploads/sites/10/store/mali-zec-slika.jpg' width=200px height=200px/>"
            }
        }
        ];

        $.each(points, function () {
            // label has a class that matches the monument's id
            // false (at the end) stops jQuery Geo from trying to refresh after each append
            map.geomap("append", this, '<div class="' + this.properties.id + '">' + this.properties.content + '</div>', false);
        });

        // we're done appending, refresh the map
        map.geomap("refresh");
    });
</script>*@